/*   *************************************************************************************************************    */
.cb-docNumber {
    opacity: .75;
}

.cb-juan {
    padding-top: calc(var(--font-size) * .85);
    padding-bottom: calc(var(--font-size) * .85);
}

.cb-juan.open {
    text-align: center;
}

.cb-juan .cb-jhead {
    font-size: 140%;
    font-weight: bold;
}

.cb-juan.close {
    text-align: left;
}

.cb-juan.close div:nth-child(1)::after {
    content: '（圆满）';
    font-size: 80%;
}

.byline {
    text-align: right;
    font-style: italic;
}

.cb-mulu {
    font-weight: bold;
    padding-top: calc(var(--font-size) * .85);
    padding-bottom: calc(var(--font-size) * .85);
    text-align: center;
}
.cb-mulu[leveln^='1-'] {
    font-size: 120%;
}
.cb-mulu[leveln^='2-'] {
    font-size: 112%;
}
.cb-mulu[leveln^='3-'] {
    font-size: 109%;
}
.cb-mulu[leveln^='4-'] {
    font-size: 106%;
}
.cb-mulu[leveln^='5-'] {
    font-size: 103%;
}

.head {
    font-weight: bold;
    text-align: center;
}

.place-inline {
    font-size: 85%;
    font-weight: normal;
}
.place-inline::before {
    content: '（';
}
.place-inline::after {
    content: '）';
}
span.caesura::before {
    content: '　';
}

div.p,
p {
    padding-bottom: calc(var(--font-size) * .85);
}

p.lg {
    text-align:center;
}
p.lg .l {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid;
    margin: 1rem auto;
}
table td {
    border-width: 0 0 0 1px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    margin: 0;
    overflow: visible;
    padding: .5rem 1rem !important;
}
table td p {
    margin-block-start: 0;
    margin-block-end: 0;
}
/*   *************************************************************************************************************    */
article {
    padding: 4rem;
}

.wrap-lines-on,
.wrap-pages-on {
    margin-left: 4rem;
}
.wrap-lines-on div,
.wrap-lines-on p,
.wrap-lines-on .lg .l,
.wrap-pages-on div,
.wrap-pages-on p,
.wrap-pages-on .lg .l {
    display: inline;
}
.wrap-pages-on span.lb:before,
.wrap-lines-on span.lb:before {
    content: "\A" attr(id) " : ";
    white-space: pre;
    color: var(--text-color);
    font-family: Helvetica;
    font-weight: normal;
    opacity: .5;
}

.wrap-pages-on span.pb:before {
    content: "\A\A\A" attr(id) "\A\A";
    white-space: pre;
    color: var(--text-color);
    font-family: Helvetica;
    font-weight: normal;
    opacity: .5;
}

.pretty-indent-on .indent-first-letter,
.pretty-indent-on .indent-first-letter-lg .l:first-child{
    text-indent: calc(-1 * var(--char-size));
}
.pretty-indent-on .indent-last-letter-lg .l:last-child{
    text-indent: calc(1 * var(--char-size));
}
.pretty-indent-on .indent-first2-letter,
.pretty-indent-on .indent-first2-letter-lg .l:first-child{
    text-indent: calc(-2 * var(--char-size));
}
.pretty-indent-on .indent-last2-letter-lg .l:last-child{
    text-indent: calc(2 * var(--char-size));
}
/*   *************************************************************************************************************    */
.edit-orig-inline-on span.note.orig:before {
    content: attr(data-t);
    font-size: 85%;
    color: #20b771;
}

.edit-mod-sharp-on span.note.mod:before {
    content: "[#]";
    font-size: 85%;
    font-weight: 600;
    color: #20b771;
}

.edit-mod-color-on span.lem > .tmp,
.edit-mod-popover-on span.lem > .tmp {
    color: #20b771;
    padding: 0 .5rem;
}

.edit-mod-inline-on span.note.mod:before {
    content: attr(data-t);
    font-size: 85%;
    color: #20b771;
}

/*   *************************************************************************************************************    */
.tippy-box {
    font-size: 95% !important;
    max-width: 70rem !important;
}