.main-views {
    -fx-background-image: url('app-hint.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.tree-view .tree-cell.visited:filled,
.list-view .list-cell.visited:filled {
    -fx-text-fill: #20b771;
}