.main-views {
    -fx-background-image: url('app-hint.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.book-list .tree-cell.visited:filled {
    -fx-text-fill: #20b771;
}