@import url(base-layout.css);
/* ****************************************************************************************************************** */
.button,
.toggle-button,
.menu-button,
.combo-box {
    -fx-border-color: derive(-fx-base, -20%);
}

.button:hover,
.toggle-button:hover,
.menu-button:hover,
.combo-box:hover {
    -fx-background-color: derive(-fx-base, -20%);
}

.tool-bar .toggle-button:selected {
    -fx-background-color: derive(-fx-base, -30%);
    -fx-text-fill: derive(-fx-light-text-color, -5%);
}

.tool-bar .toggle-button:selected .glyph-icon {
    -fx-fill: derive(-fx-light-text-color, -5%);
}


.tool-bar {
    -fx-background-color: -fx-background;
}

.context-menu {
    -fx-border-color: derive(dimgray, 30%);
}
.context-menu .menu-item:hover {
    -fx-background-color: derive(-fx-base, -25%);
}
.context-menu .menu-item:hover .label {
    -fx-text-fill: -fx-mid-text-color;
}


.split-pane-divider {
    -fx-background-color: derive(-fx-background, 20%);
    -fx-border-width: 0 1 0 1;
    -fx-border-color: lightgray;
}


.scroll-bar .thumb {
    -fx-background-color: derive(-fx-base, -20%);
}
.web-view .scroll-bar .thumb {
    -fx-background-color: derive(-fx-base, -60%);
}


.tree-view .tree-cell:filled,
.list-view .list-cell:filled {
    -fx-border-color: derive(-fx-background, -10%);
    -fx-text-fill: -fx-mid-text-color;
}

.tree-view .tree-cell:filled:selected,
.list-view .list-cell:filled:selected {
    -fx-background-color: derive(-fx-base, -5%);
}

.tree-view .tree-cell:filled:hover,
.list-view .list-cell:filled:hover {
    -fx-background-color: derive(-fx-base, -10%);
}


.tab-header-area .tab-header-background {
    -fx-border-color: lightgray;
    -fx-background-color: derive(-fx-background, 20%);
}

.tab-header-area .tab {
    -fx-background-color: derive(-fx-background, 30%);
}

.tab-header-area .tab .tab-close-button {
    -fx-background-color: derive(-fx-background, -40%);
}

.tab-header-area .tab:selected {
    -fx-background-color: derive(-fx-background, -10%);
    -fx-border-color: derive(-fx-accent, -10%);
}

.tab-header-area .tab:selected .tab-label {
    -fx-text-fill: derive(-fx-mid-text-color, -60%);
}

.tab-header-area .tab:hover {
    -fx-background-color: derive(-fx-background, -20%);
}

.tab-header-area .control-buttons-tab .container .tab-down-button:hover {
    -fx-background-color: derive(-fx-background, -20%);
}


.accordion .title:hover {
    -fx-background-color: derive(-fx-background, -20%);
}

.accordion .title,
.accordion .content {
    /*-fx-border-color: derive(-fx-background, -20%);*/
}

.accordion .title .arrow {
    /*-fx-background-color: -fx-mid-text-color;*/
}

/* ****************************************************************************************************************** */
.side-tools .context-menu .custom-menu-item {
    -fx-background-color: transparent;
}

.side-tools .context-menu,
.side-tools {
    -fx-border-width: 0 1 0 0;
    -fx-background-color: derive(-fx-background, -5%);
}

.side-tools .glyph-icon {
    -fx-fill: derive(-fx-base, -60%);
}

.side-views .head-bar,
.main-views .tool-bar {
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 1 0;
}

.title-bar {
    -fx-opacity: .85;
}

.aligned-separator .space-fill {
    /*-fx-background-color: derive(-fx-base, 50%);*/
}

.masking {
    -fx-background-color: rgba(50, 50, 50, 0.85);
}

.lookup-view {
    -fx-background-color: derive(-fx-background, -20%);
}

.toast-pane {
    -fx-background-color: rgba(208, 208, 208, 0.95);
}