@import url(base-layout.css);

* {
    /***************************************************************************
     *                                                                         *
     * The main color palette from which the rest of the colors are derived.   *
     *                                                                         *
     **************************************************************************/

    /* A light grey that is the base color for objects.  Instead of using
     * -fx-base directly, the sections in this file will typically use -fx-color.
     */
    -fx-base: #dedede;

    /* A very light grey used for the background of windows.  See also
     * -fx-text-background-color, which should be used as the -fx-text-fill
     * value for text painted on top of backgrounds colored with -fx-background.
     */
    -fx-background: derive(-fx-base, 40%);

    /* Used for the inside of text boxes, password boxes, lists, trees, and
     * tables.  See also -fx-text-inner-color, which should be used as the
     * -fx-text-fill value for text painted on top of backgrounds colored
     * with -fx-control-inner-background.
     */
    -fx-control-inner-background: derive(-fx-base, 20%);

    /* One of these colors will be chosen based upon a ladder calculation
     * that uses the brightness of a background color.  Instead of using these
     * colors directly as -fx-text-fill values, the sections in this file should
     * use a derived color to match the background in use.  See also:
     *
     * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
     * -fx-text-background-color for text on top of -fx-background
     * -fx-text-inner-color for text on top of -fx-control-inner-color
     * -fx-selection-bar-text for text on top of -fx-selection-bar
     */
    -fx-dark-text-color: #131313;
    -fx-mid-text-color: #333333;
    -fx-light-text-color: #b3b3b3;
    /*-fx-dark-text-color: #212121;*/
    /*-fx-mid-text-color: #313131;*/
    /*-fx-light-text-color: #e3e3e3;*/

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-accent: #b31b34;
    /*-fx-accent: #0093ff;*/

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     *
     * TODO: should this be derived from -fx-accent?
     */
    /*-fx-focus-color: #3d619b;*/
    -fx-focus-color: red;
}

/* ****************************************************************************************************************** */
.button,
.toggle-button,
.menu-button,
.combo-box {
    -fx-border-color: derive(-fx-base, -20%);
}

.button:hover,
.toggle-button:hover,
.menu-button:hover,
.combo-box:hover {
    -fx-background-color: derive(-fx-base, -20%);
}

.tool-bar .toggle-button:selected {
    -fx-background-color: derive(-fx-base, -30%);
    -fx-text-fill: derive(-fx-light-text-color, 85%);
}

.tool-bar .toggle-button:selected .glyph-icon {
    -fx-fill: derive(-fx-light-text-color, 85%);
}


.tool-bar {
    -fx-background-color: -fx-background;
}

.context-menu {
    -fx-border-color: derive(dimgray, 30%);
}
.context-menu .menu-item:hover {
    -fx-background-color: derive(-fx-base, -25%);
}
.context-menu .menu-item:hover .label {
    -fx-text-fill: -fx-mid-text-color;
}


.split-pane-divider {
    -fx-background-color: derive(-fx-background, 20%);
    -fx-border-width: 0 1 0 1;
    -fx-border-color: lightgray;
}


.scroll-bar .thumb {
    -fx-background-color: derive(-fx-base, -20%);
}
.web-view .scroll-bar .thumb {
    -fx-background-color: derive(-fx-base, -60%);
}


.tree-view .tree-cell:filled,
.list-view .list-cell:filled {
    -fx-border-color: derive(-fx-background, -10%);
    -fx-text-fill: -fx-mid-text-color;
}

.tree-view .tree-cell:filled:selected,
.list-view .list-cell:filled:selected {
    -fx-background-color: derive(-fx-base, -5%);
}

.tree-view .tree-cell:filled:hover,
.list-view .list-cell:filled:hover {
    -fx-background-color: derive(-fx-base, -10%);
}


.tab-header-area .tab-header-background {
    -fx-border-color: lightgray;
    -fx-background-color: derive(-fx-background, 20%);
}

.tab-header-area .tab {
    -fx-background-color: derive(-fx-background, 30%);
}

.tab-header-area .tab .tab-close-button {
    -fx-background-color: derive(-fx-background, -40%);
}

.tab-header-area .tab:selected {
    -fx-background-color: derive(-fx-background, -10%);
    -fx-border-color: derive(-fx-accent, -10%);
}

.tab-header-area .tab:selected .tab-label {
    -fx-text-fill: derive(-fx-mid-text-color, -60%);
}

.tab-header-area .tab:hover {
    -fx-background-color: derive(-fx-background, -20%);
}

.tab-header-area .control-buttons-tab .container .tab-down-button:hover {
    -fx-background-color: derive(-fx-background, -20%);
}


.accordion .title:hover {
    -fx-background-color: derive(-fx-background, -20%);
}

.accordion .title,
.accordion .content {
    /*-fx-border-color: derive(-fx-background, -20%);*/
}

.accordion .title .arrow {
    /*-fx-background-color: -fx-mid-text-color;*/
}

/* ****************************************************************************************************************** */
.side-tools .context-menu .custom-menu-item {
    -fx-background-color: transparent;
}

.side-tools .context-menu,
.side-tools {
    -fx-border-width: 0 1 0 0;
    -fx-background-color: derive(-fx-background, -80%);
}

.side-tools .glyph-icon {
    -fx-fill: derive(-fx-base, -5%);
}

.side-views .head-bar,
.main-views .tool-bar {
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 1 0;
}

.title-bar {
    -fx-opacity: .85;
}

.aligned-separator .space-fill {
    /*-fx-background-color: derive(-fx-base, 50%);*/
}

.masking {
    -fx-background-color: rgba(50, 50, 50, 0.85);
}

.lookup-view {
    -fx-background-color: derive(-fx-background, -20%);
}

.search-view .result-item .glyph-icon {
    -fx-fill: derive(-fx-background, -80%);
}

.toast-pane {
    -fx-background-color: rgba(208, 208, 208, 0.95);
}