body {
    background-color: #3b3b3b;
    color: rgb(187, 187, 187);
}

span.app {
}

span.app::after {
    /* content: '[*]';
    font-size: small;
    color: red;
    vertical-align: super; */
}

/*   *************************************************************************************************************    */
/*   *************************************************************************************************************    */