.main-views {
    -fx-background-image: url('app-hint.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.side-views {
    -fx-min-width: 10em;
}

.glyph-icon.dev {
    -fx-font-size: 2em !important;
}
.glyph-icon.dev:hover{
    -fx-effect: dropshadow( three-pass-box , derive(-fx-text-fill,0%) , 0.01em, 0.0 , 0, 0);
}
.glyph-icon.dev:selected{
    -fx-effect: dropshadow( three-pass-box , derive(-fx-text-fill,0%) , 0.01em, 0.0 , 0, 0);
}

.tree-view .tree-cell.visited:filled,
.list-view .list-cell.visited:filled {
    -fx-text-fill: #20b771;
}

.result-item .glyph-icon {
    -fx-fill: derive(-fx-mid-text-color, 30%) !important;
}

.notification-bar .pane {
    -fx-background-color: grey;
}
.notification-bar .pane .label {
    -fx-text-fill: white;
    -fx-font-size: 1.35em;
}