.main-views {
    -fx-background-image: url('app-hint.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.side-views {
    -fx-min-width: 10em;
}

.font-icon.dev:hover{
    -fx-effect: dropshadow( three-pass-box , derive(-fx-text-fill,0%) , 0.01em, 0.0 , 0, 0);
}
.font-icon.dev:selected{
    -fx-effect: dropshadow( three-pass-box , derive(-fx-text-fill,0%) , 0.01em, 0.0 , 0, 0);
}

.form .field-label {
    -fx-min-width: 6em;
    -fx-alignment: center;
}

.notification-popup {
    -fx-background-color: -fx-base;
    -fx-background-radius: 6;
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 6;
    -fx-effect: dropshadow( three-pass-box , #111333 , 0.75em, .1 , 2, 2);
}
.notification-popup > * {
    -fx-padding: .5em;
}
.notification-popup .description .font-icon {
    -fx-font-size: 3em;
    -fx-fill: -fx-accent;
}

.card-chooser .card-view.focused {
    -fx-border-color: -fx-accent;
    -fx-border-radius: 3;
}
.card-chooser .card-view .font-icon {
    -fx-font-size: 3em;
    -fx-opacity: .5;
}
.card-chooser .card-view .title {
    -fx-font-weight: 700;
}
.card-chooser .card-view .description {
    -fx-font-size: 85%;
    -fx-opacity: .75;
}