:root {
    --text-color: #333;
}

body {
    background-color: #e3ebed;
}

.finder {
    background-color: #dceaef;
}

.finder-input {
    border-bottom: 1px solid darkgray;
}

.finder-input.not-found {
    color: #e7353f;
}

.highlight {
    background: #ff8;
}

.highlight.active {
    background: #ffd71b;
}
