* {
    -fxc-1: #3b3b3b;
    -fxc-2: #242424;
    -fxc-3: #9e3030;
    -fxc-4: #2d2d2d;
    -fxc-5: #2f4b6d;

    /* Initial themeing */
    -fx-base: -fxc-1;


    -fx-font-family: 'Microsoft Yahei';
    -fx-text-fill: #b6b6b6;
    -fx-font-size: 16;
}

.tooltip {
    -fx-background-color: derive(-fxc-1, 10%);
    -fx-background-radius: 0;
    -fx-padding: 4 8;
}
.button,
.toggle-button,
.radio-button,
.menu-button,
.text-field,
.list-view {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.text-area .content {
    -fx-background-color: derive(-fxc-1, 10%);
}

.split-pane {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
}
.split-pane-divider {
    -fx-background-color: derive(-fxc-1, -5%);
    -fx-pref-width: 6px;
}
.virtual-flow .corner,
.scroll-bar {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}
.scroll-bar:hover {
    -fx-opacity: 1;
}
.scroll-bar:vertical {
    -fx-pref-width: .8em;
}
.scroll-bar:horizontal {
    -fx-pref-height: .8em;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
.scroll-bar .thumb {
    -fx-background-radius: 0;
    -fx-background-color: derive(-fxc-1, -30%);
}
.web-view .scroll-bar .thumb {
    -fx-background-radius: 0;
    -fx-background-color: derive(-fxc-1, -50%);
}
.tool-bar {
    -fx-background-color: derive(-fxc-1, 0%);
}
.tree-view {
    -fx-padding: 0;
}
.tree-view, .tree-cell {
    -fx-background-color: derive(-fxc-1, 0%);
}
.tree-cell:filled {
    -fx-border-color: derive(-fxc-1, -8%);
    -fx-border-width: 0 0 .05em 0;
    -fx-border-style: dotted;
}
.tree-cell:filled:selected {
    -fx-background-color: derive(-fxc-5, -10%);
    -fx-text-fill: derive(-fxc-1, 100%);
}
.tree-cell:filled .arrow {
    -fx-background-color: derive(-fxc-1, 80%);
}
.tree-cell:filled:hover {
    -fx-background-color: derive(-fxc-5, 10%);
    -fx-text-fill: derive(-fxc-1, 100%);
}


.bookview-pane .flexible-bar {
    -fx-background-radius: 0;
    -fx-background-color: #b1b1b1;
    -fx-padding: 8;
    -fx-opacity: .25;
}
.bookview-pane .flexible-bar:hover {
    -fx-opacity: 1;
}


.accordion {
    -fx-padding: 0;
    -fx-background-color: derive(-fxc-1, 0%);
}
.accordion .title,
.accordion .content {
    -fx-background-color: derive(-fxc-1, 0%);
    -fx-border-width: 1 0 0 0;
    -fx-border-color: derive(-fxc-1, -10%);
}
.accordion .content {
}
.accordion .first-titled-pane .title {
    -fx-border-width: 0 0 1 0;
}
.accordion .content {
    -fx-padding: 0;
}


.dialog-pane.search-pane .text-field {
    -fx-background-color: derive(-fxc-1, 10%);
}
.dialog-pane.search-pane .list-view {
    -fx-padding: 0;
    -fx-background-color: derive(-fxc-1, 0%);
}
.dialog-pane.search-pane .list-view .list-cell {
    -fx-background-color: derive(-fxc-1, 0%);
}
.dialog-pane.search-pane .list-view .list-cell:selected {
    -fx-background-color: derive(-fxc-5, -10%);
    -fx-text-fill: derive(-fxc-1, 100%);
}


.masking {
    -fx-background-color: rgba(38, 38, 38, 0.85);
}


.workbench .openviews {
    -fx-background-color: derive(-fxc-1, 0%);
}
.workbench .openviews .tab-header-area {
    -fx-padding: 0;
}
.workbench .openviews .tab-header-background {
    -fx-background-color: derive(-fxc-1, 10%);
    -fx-border-width: 0;
}
.workbench .openviews .tab-header-area .tab {
    -fx-background-color: derive(-fxc-2, 30%);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 2 8;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: derive(-fxc-1, -5%);
}
.workbench .openviews .tab-header-area .tab .tab-label {
    -fx-padding: 0 6 0 3;
    -fx-text-fill: derive(-fxc-2, 60%);
}
.workbench .openviews .tab-header-area .tab .glyph-icon {
    -fx-fill: derive(-fxc-2, 60%);
}
.workbench .openviews .tab-header-area .tab .tab-close-button {
    -fx-shape: "M19,6.41L17.59,5 12,10.59 6.41,5 5,6.41 10.59,12 5,17.59 6.41,19 12,13.41 17.59,19 19,17.59 13.41,12z";
    -fx-scale-shape: false;
    -fx-background-color: derive(-fxc-2, 60%);
}
.workbench .openviews .tab-header-area .tab:selected {
    -fx-background-color: -fxc-4;
}
.workbench .openviews .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: derive(-fxc-1, 100%);
}
.workbench .openviews .tab-header-area .tab:selected .tab-close-button {
    -fx-background-color: derive(-fxc-1, 100%);
}
.workbench .openviews .tab-header-area .tab:selected .glyph-icon {
    -fx-fill: derive(-fxc-2, 60%);
}
.workbench .openviews .tab-header-area .tab .focus-indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.workbench .openviews .tab-header-area .tab:hover {
    -fx-background-color: derive(-fxc-4, -50%);
}
.workbench .openviews .tab-header-area .tab .tab-close-button:hover,
.workbench .openviews .tab-header-area .tab:selected .tab-close-button:hover {
    -fx-background-color: -fxc-3;
}


.workbench .workviews .workview-name {
    -fx-font-weight: bold;
}
.workbench .workviews .button,
.workbench .workviews .toggle-button,
.workbench .workviews .menu-button {
    -fx-background-color: transparent;
    -fx-padding: 0 2;
}
.workbench .workviews .button:hover,
.workbench .workviews .toggle-button:hover,
.workbench .workviews .menu-button:hover {
    -fx-background-color: derive(-fxc-1, 20%);
}
.workbench .workviews .button .glyph-icon,
.workbench .workviews .toggle-button .glyph-icon,
.workbench .workviews .menu-button .glyph-icon {
    -fx-fill: derive(-fxc-2, 60%);
}
.workbench .workviews .menu-button .label,
.workbench .workviews .menu-button > .arrow-button,
.workbench .workviews .menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.workbench .workviews .context-menu {
    -fx-background-color: derive(-fxc-1, -10%);
}


.workbench .worktools .tool-bar {
    -fx-background-color: derive(-fxc-2, 0%);
}
.workbench .worktools .toggle-button:selected {
    -fx-border-color: -fxc-3;
}
.workbench .worktools .toggle-button .glyph-icon,
.workbench .worktools .button .glyph-icon {
    -fx-font-size: 1.2em !important;
    -fx-fill: derive(-fxc-1, 50%);
}
.workbench .worktools .toggle-button:hover .glyph-icon,
.workbench .worktools .toggle-button:selected .glyph-icon,
.workbench .worktools .button:hover .glyph-icon {
    -fx-fill: -fxc-3;
}


.workbench .infotools {
    -fx-background-color: derive(-fxc-1, -10%);
}
.workbench .infotools * {
    -fx-font-size: 12;
    -fx-text-fill: derive(-fxc-1, 50%);
}
