/*   *************************************************************************************************************    */
.cb-docNumber {
    opacity: .75;
}

.cb-juan {
    padding-top: calc(var(--font-size) * .85);
    padding-bottom: calc(var(--font-size) * .85);
}

.cb-juan.open {
    text-align: center;
}

.cb-juan .cb-jhead {
    font-size: 140%;
    font-weight: bold;
}

.cb-juan.close {
    text-align: left;
}

.cb-juan.close div:nth-child(1)::after {
    content: '（圆满）';
    font-size: 80%;
}

.byline {
    text-align: right;
    font-style: italic;
}

.cb-mulu {
    font-weight: bold;
    padding-top: calc(var(--font-size) * .85);
    padding-bottom: calc(var(--font-size) * .85);
    text-align: center;
}
.cb-mulu[leveln^='1-'] {
    font-size: 120%;
}
.cb-mulu[leveln^='2-'] {
    font-size: 112%;
}
.cb-mulu[leveln^='3-'] {
    font-size: 109%;
}
.cb-mulu[leveln^='4-'] {
    font-size: 106%;
}
.cb-mulu[leveln^='5-'] {
    font-size: 103%;
}

.head {
    font-weight: bold;
    text-align: center;
}

.place-inline {
    font-size: 85%;
    font-weight: normal;
    opacity: .8;
}
.place-inline::before {
    content: '（';
}
.place-inline::after {
    content: '）';
}
span.caesura::before {
    content: '　';
}

div.p,
p {
    padding-bottom: calc(var(--font-size) * .85);
}

p.lg {
    text-align:center;
}
p.lg .l {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border:2px solid !important;
    margin: 1rem auto;
}
table tr {
    border-right: 3px solid  !important;
}
table td {
    border:2px solid  !important;
    margin: 0;
    overflow: visible;
    padding: .5rem 1rem !important;
}
table td p {
    margin-block-start: 0;
    margin-block-end: 0;
}
/*   *************************************************************************************************************    */
article {
    padding: 4rem;
}

.wrap-lines-on,
.wrap-pages-on {
    margin-left: 4rem;
}
.wrap-lines-on div,
.wrap-lines-on p,
.wrap-lines-on .lg .l,
.wrap-pages-on div,
.wrap-pages-on p,
.wrap-pages-on .lg .l {
    display: inline;
}
.wrap-pages-on span.lb:before,
.wrap-lines-on span.lb:before {
    content: "\A" attr(id) " : ";
    white-space: pre;
    color: var(--text-color);
    font-family: Helvetica;
    font-weight: normal;
    opacity: .5;
}

.wrap-pages-on span.pb:before {
    content: "\A\A\A" attr(id) "\A\A";
    white-space: pre;
    color: var(--text-color);
    font-family: Helvetica;
    font-weight: normal;
    opacity: .5;
}

.pretty-indent-on .indent-first-letter,
.pretty-indent-on .indent-first-letter-lg .l:first-child{
    text-indent: calc(-1 * var(--char-size));
}
.pretty-indent-on .indent-last-letter-lg .l:last-child{
    text-indent: calc(1 * var(--char-size));
}
.pretty-indent-on .indent-first2-letter,
.pretty-indent-on .indent-first2-letter-lg .l:first-child{
    text-indent: calc(-2 * var(--char-size));
}
.pretty-indent-on .indent-last2-letter-lg .l:last-child{
    text-indent: calc(2 * var(--char-size));
}
/*   *************************************************************************************************************    */
.edit-orig-inline-on span.note.orig:before {
    content: attr(data-t);
    font-size: 85%;
    color: #20b771;
}

.edit-mod-sharp-on span.note.mod:before {
    content: "✱";
    font-size: 85%;
    font-weight: 600;
    color: #20b771;
}

.edit-mod-color-on span.lem > .tmp,
.edit-mod-popover-on span.lem > .tmp {
    color: #20b771;
    padding: 0 .5rem;
}

.edit-mod-inline-on span.note.mod:before {
    content: attr(data-t);
    font-size: 85%;
    color: #20b771;
}

/*   *************************************************************************************************************    */
.tippy-box {
    font-size: 90% !important;
    max-width: 70rem !important;
    padding: .5rem 0 0 2rem;
}

.theme-dark .tippy-box {
    background: #666 !important;
}
.theme-dark .tippy-arrow::before {
    color: #666 !important;
}

.theme-dark a {
    color: brown;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

a[data-note]::before {
    content:"⑴";
    font-size: 85%;
    font-weight: 600;
    color: #20b771;
    vertical-align: sub;
}

.result-item > * {
    font-size: 75%;
}
.result-item {
    padding: 1rem 0;
    border-bottom: solid 1px grey;
}
.result-item:last-child {
    border-bottom: unset;
}
.result-item a {
    text-decoration: none;
}
.result-item .name {
    font-size: 86%;
    font-weight: 600;
}
.result-item .name:before {
    content: "➤";
}

.result-item .location {
    opacity: .75;
    line-height: 150%;
}
.result-item .location:before {
    content: "●";
}

.result-item .authors {
    opacity: .75;
    line-height: 150%;
}
.result-item .authors:before {
    content: "●"
}

.result-item .hl-items .snipplet {
    line-height: 150%;
    padding-top: .5rem;
}

.result-item .hl-items .snipplet em {
    color: red;
}