:root {
    --text-size: 1.3rem;
    --text-color:  rgb(187, 187, 187);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: var(--text-size);
    line-height: 2.2rem;
    letter-spacing: .15rem;
    margin: 0;
    /* padding: 1rem 4rem 4rem 4rem; */
}
/*body {*/
    /*background-color: #3b3b3b;*/
    /*color: var(--text-color);*/
/*}*/

.cb-juan {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cb-juan.open {
    text-align: center;
}

.cb-juan .title {
    font-size: calc(var(--text-size) * 1.5);
    font-weight: bold;
}

.cb-juan .title::after {
    content: '  ';
}

.cb-juan.close {
    text-align: left;
}

.cb-juan.close div:nth-child(1)::after {
    content: '（圆满）';
}

.byline {
    font-size: 1.2rem;
    text-align: right;
}

.cb-mulu {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cb-mulu.level-1 {
    font-size: calc(var(--text-size) * 1.2);
}

.cb-mulu.level-2 {
    font-size: calc(var(--text-size) * 1.02);
}

div.p {
    padding-bottom: 1rem;
}

span.lb br, span.pb br {
    display: none;
}

/*   *************************************************************************************************************    */
.anchorjs-link {
    border-color: #ff5231 #ff5231 transparent;
    border-width: 15px 7px 6px;
    border-style: solid;
    margin-top: 8px;
    font-size: 14px;
    padding-right: 0 !important;
}

[data-anchorjs-icon]::after {
    content: attr(data-anchorjs-icon);
}

/*   *************************************************************************************************************    */
.finder {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
    height: 50px;
    background-color: dimgray;
    box-shadow: 0px 3px 3px 2px rgb(0 0 0 / 20%);
    padding: 5px;
    transition: top 0.15s ease-out;
    border-radius: 2px;
}

.finder.active {
    display: flex;
}

.finder-input {
    flex-grow: 2;
    width: auto;
    min-width: 15rem;
    height: 40px;
    border: none;
    padding: 8px;
    outline: none !important;
    background-color: transparent;
    border-bottom: 1px solid gray;
}

.finder-input.not-found {
    color: #e7353f;
}

.btn-finder {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
}

.finder-input,
.btn-finder:not(:last-child) {
    margin-right: 5px;
}

.btn-finder-prev i::before {
    content: '<';
}

.btn-finder-next i::before {
    content: '>';
}

.btn-finder-close i::before {
    content: 'X';
}

.finder-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #888;
    border-right: 1px solid #e5e5e5;
    margin-right: 5px;
    padding-right: 20px;
    white-space: nowrap;
}

.btn-finder,
.finder-count {
    flex-shrink: 0;
    flex-grow: 0;
}

.highlight {
    background: #ff8;
}

.highlight.active {
    background: #ffd71b;
}

/*   *************************************************************************************************************    */
header nav {
    font-size: 80%;
    line-height: 1rem;
    box-shadow: rgb(21 21 21) 0px 2px 8px 2px;
}
header nav .navbar-brand {
    font-size: 100%;
    opacity: .75;
    cursor: pointer;
}
header nav .navbar-brand:hover {
    opacity: 1;
}
header nav li.nav-item {
    padding: 2px;
}
header nav .nav-item button,
header nav .nav-item label {
    padding: 0.1rem .6rem .3rem .6rem !important;
    /* font-size: 100% !important; */
}
/* header nav .input-group.search {
    width: auto;
}
header nav .input-group.search span {
    background-color: #333;
    color: var(--text-color);
    line-height: 1;
}
header nav .input-group.search input.form-control {
    width: auto;
    line-height: 1;
    background-color: #333;
} */

article {
    padding: 4rem;
}

.wrap-lines-on {
    margin-left: 6rem;
}
.wrap-lines-on div {
    display: inline;
}
.wrap-lines-on p[id]:before {
    content: "\A" attr(id) " : ";
    white-space: pre;
    margin-left: -4rem;
    color: var(--text-color);
    font-size: 88%;
    font-family: Helvetica;
    display: inline-block;
    opacity: .5;
}
.wrap-lines-on span.lb:before {
    content: "\A" attr(id) " : ";
    white-space: pre;
    color: var(--text-color);
    font-family: Helvetica;
    font-weight: normal;
    opacity: .5;
}

.first-letter-indent-on .first-letter-indent {
    text-indent: calc(-1.1 * var(--text-size));
}

/*   *************************************************************************************************************    */
.edit-orig-inline-on span.note.orig:before {
    content: attr(data-t);
    font-size: 75%;
    color: #20b771;
}

.edit-mod-sharp-on span.note.mod:before {
    content: "[#]";
    font-size: 75%;
    font-weight: 600;
    color: #20b771;
}

.edit-mod-color-on span.lem > .tmp,
.edit-mod-popover-on span.lem > .tmp {
    color: #20b771;
    padding: 0 .25rem;
}

.edit-mod-inline-on span.note.mod:before {
    content: attr(data-t);
    font-size: 75%;
    color: #20b771;
}


.edit-mod-popover {
    background: #666b6d;
    font-size: 80%;
}
.edit-mod-popover .popover-arrow::after {
    border-right-color: #666b6d !important;
}
.edit-mod-popover .popover-body {
    color: #20b771;
}