.main-views {
    -fx-background-image: url('app-hint.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.theme-dark .main-views {
    -fx-background-image: url('app-hint-dark.png');
}
.side-views {
    -fx-min-width: 12.5em;
}

.icon-text.dev:hover{
    -fx-effect: dropshadow( three-pass-box , derive(-fx-text-fill,0%) , 0.01em, 0.0 , 0, 0);
}
.icon-text.dev:selected{
    -fx-effect: dropshadow( three-pass-box , derive(-fx-text-fill,0%) , 0.01em, 0.0 , 0, 0);
}

.tree-cell.visited:filled,
.tree-cell.visited:filled .icon-text,
.list-cell.visited:filled,
.list-cell.visited:filled .primary {
    -fx-text-fill: #20b771;
}
.list-cell:filled .secondary {
    -fx-opacity: .5;
}
.tree-cell .plaintext,
.list-cell .plaintext {
	-fx-fill: ladder(-fx-base, -text-dark 49%, -text-light 50%);
}
.tree-cell .highlight,
.list-cell .highlight,
.tree-cell.visited .highlight,
.list-cell.visited .highlight {
    -fx-fill: derive(-fx-accent, -10%);
    -fx-font-weight: bolder;
}

.web-finder .button.flat {
    -fx-padding: .25em;
}
.web-finder .label.info {
    -fx-text-fill: -fx-accent;
}

.form-vbox .field-name {
    -fx-min-width: 6em;
    -fx-alignment: center;
}
.form-vbox .field-info {
    -fx-padding: 0 0 0em .5em;
}
.form-vbox .field-info .text {
    -fx-fill: derive(-fx-mid-text-color, 60%);
}
.form-vbox .choice-box {
    -fx-min-width: 10em;
}
.form-vbox .text-field,
.form-vbox .text-area {
    -fx-max-width: 40em;
}

.form .field-label {
    -fx-min-width: 6em;
    -fx-alignment: center;
}

.notification-popup {
    -fx-background-color: -fx-base;
    -fx-background-radius: 6;
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 6;
    -fx-effect: dropshadow( three-pass-box , #111333 , 0.75em, .1 , 2, 2);
}
.notification-popup > * {
    -fx-padding: .5em;
}
.notification-popup .description .icon-text {
    -fx-font-size: 3em;
    -fx-text-fill: -fx-accent;
}

.card-chooser .card-view.flat {
    -fx-border-width: 1;
    -fx-border-color: ladder(-fx-background, -divider-dark 49%, -divider-light 50%);
}
.card-chooser .card-view.focused {
    -fx-background-color: -primary-swatch-500;
}
.card-chooser .card-view .icon-text {
    -fx-font-size: 2.5em;
    -fx-opacity: .85;
}
.card-chooser .card-view .title {
    -fx-font-weight: 700;
}
.card-chooser .card-view .description {
    -fx-font-size: 85%;
    -fx-opacity: .85;
}
